  @font-face {
   font-family: 'Fira Code';
   src: url('woff2/FiraCode-Light.woff2') format('woff2'),
   url("woff/FiraCode-Light.woff") format("woff");
   font-weight: 300;
   font-style: normal;
   }
   body {
    margin: 0;
    padding: 0;
    }
   header {
    color: white;
    font-weight: bolder;
    position: fixed;
    text-align: top;
    padding: 5px;
    top: 0;
    border-radius: 40px;
    margin: 0 auto; 
    border: 1px transparent;
    background: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px rgba(0, 128, 0, 0.801);
    }
   section {
    color: white;
    text-align: center;
    padding: 5px 5px;
    border-radius: 40px;
    margin: 20px 280px 20px 280px;
    border: 1px transparent;
    background: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px rgba(0, 128, 0, 0.801);
    }
   article {
    color: white;
    text-align: center;  
    }
   p {
    color: white;
    text-align: center;
    }
   main {
    color: white;
    padding: 5px 5px;
    border-radius: 40px;
    margin: 20px 280px 20px 280px; 
    border: 1px transparent;
    background: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px rgba(0, 128, 0, 0.801);
    text-align: center;
    }
   em {
    color: white;
    background-color: transparent;
    }
   strong {
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    }
   h1,h2,h3 {
    color: white;
    padding: 5px 5px;
    border-radius: 40px;
    margin: 5px 5px 5px 5px; 
    border: 1px transparent;
    background: rgba(0, 128, 0, 0.541);
    box-shadow: 2px 2px 2px 2px rgba(0, 128, 0, 0.801);
    }
   h4,h5,h6 {
    color: white;
    padding: 5px 5px;
    border-radius: 40px;
    margin: 5px 5px 5px 5px; 
    border: 1px transparent;
    background: rgba(0, 128, 0, 0.541);
    box-shadow: 2px 2px 2px 2px rgba(0, 128, 0, 0.801);
    } 
   a {
    color: white;
    display: block;   
    }

   label {
    color: white;
    display: block; 
    }
   input {
    color: white;
    display: block; 
    }
   .background {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('https://i.pinimg.com/originals/c5/9a/d2/c59ad2bd4ad2fbacd04017debc679ddb.gif');
    background-repeat: no-repeat;
    background-size: cover;
    }
   .father {
    align-items: center;
    background-color: green;
    display: flex;
    flex-direction: column-reverse;  
    justify-content: center;
    margin-left: 38%;
    padding-top: 5% ;
    padding-bottom: 5%;
    width: 24%;    
    }
   .son1 {
    background-color: red ;
    width: 70px;
    height: 70px;
    }
   .son2 {
    background-color: blue;
    width: 70px;
    height: 70px;
    }
   .pH0 {
    color: white;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    background: rgba(0, 128, 0, 0.541);
    }
   .pH1 {
    color: white;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    }
   .pH2 {
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    }
   .pH3 {
    color: white;
    font-size: 1.17em;
    font-weight: 400;
    text-align: center;
    }
   .pH4 {
    color: white; 
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    }
   .pH5 {
    color: white;
    font-size: 0.83em;
    font-weight: 200;
    text-align: center;
    }
   .pH6 {
    color: white;
    font-size: 0.67em;
    font-weight: 100;
    text-align: center;
    }
   .datesInput {
    color: white;
    background-color: green;
    display: flex;
    flex-direction: column;  
    margin-left: 38%;
    padding-top: 7% ;
    padding-bottom: 7%;
    text-align: center;
    width: 24%; 
    }
   .main {
    color: white;
    text-align: center;
    margin: 20px 280px 20px 280px;  
    padding: 5px 40px;
    border-radius: 40px;
    border: 1px transparent;
    background: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px rgba(0, 128, 0, 0.801);
    }
   .row {
    color: white;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    margin: 20px auto 20px auto; 
    padding: 5px 10px;
    border-radius: 40px;
    border: 1px transparent;
    background: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px rgba(0, 128, 0, 0.801);
    }
    .audioFile {
    color: white;
    padding: 5px;
    border-radius: 40px;
    margin: 20px auto 20px auto;  
    background: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px rgba(0, 128, 0, 0.801);
    display: block;
    align-items: center;
    align-self: center;
    }
    .videoResize {
    display: block;
    align-items: center;
    align-self: center;
    margin: 20px auto 20px auto; 
    padding: 5px 10px;
    border-radius: 40px;
    border: 1px transparent;
    background: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px rgba(0, 128, 0, 0.801);    
    }
    